<h2 class="indigo-text darken-3">Recieve new vaccine</h2>

<form action="/vaccines" method="post">
  <div class="input-field">
    <input id="lot_no" name="vaccine[lot_no]" type="text" class="validate">
    <label for="lot_no">Lot Number</label>
  </div>
  
  <div class="input-field">
    <input id="mfr" name="vaccine[mfr]" type="text" class="validate">
    <label for="mfr">Manufacturer</label>
  </div>
  
  <div class="input-field">
    <input id="type" name="vaccine[vac_type]" type="text" class="validate">
    <label for="type">Type</label>
  </div>
  
  <div class="input-field">
    <input type="text" class="datepicker" name="vaccine[expir]" id="expir" class="validate">
    <label for="expir">Expiration Date</label>
  </div>
  
  <div class="input-field">
    <input id="quantity" type="number" name="vaccine[quantity]" class="validate">
    <label for="quantity">Quantity</label>
  </div>

  <input type="submit" value="Create vaccine" class="btn indigo darken-3">
</form>

<script>
  // this is a javascript comment.
  $(document).ready(function(){
    $('.datepicker').datepicker();
    $('select').formSelect();
  });
</script>